*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetic neue';

}

html,
body{
  height: 100%;
  width: 100%;
}

.card{
  background-color: pink;
  border-radius: 10px;
margin: 10px;
padding: 20px;


}